@import "tailwindcss";
@import "react-datepicker/dist/react-datepicker.css";

@theme {
  --color-background: #fbfcfe;
  --color-backgroundSecondary: #fafaff;
  --color-primary: #3c3d64;

  --color-hover: #222f50;
  --color-disabled: #a7adbf;
  --color-text: #161616;
  --color-subText: #535353;
  --color-secondarytext: #66afff;
  --color-heading: #252525;
  --color-subHeading: #7e7c7c;
  --color-placeholder: #a8a8a8;
  --color-icon: #dcdcdc;
  --color-borderPrimary: #c7cfe2;
  --color-borderSecondary: #cbd5e1;
  --color-borderthree: #c7cfe2;
  --color-borderheader: #d2e1fb;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.medium-scrollbar::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.medium-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.medium-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3c3d64;
}

.medium-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3c3d64;
}

.custom-nav-scrollbar::-webkit-scrollbar {
  width: 5px;
}
.custom-nav-scrollbar::-webkit-scrollbar-track {
  background: #f8f8f8;
}

.custom-nav-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3c3d64;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}

.custom-nav-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3c3d64;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #514b82;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
