@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Handle color */
  border-radius: 10px; /* Rounded corners */
  border: 2px solid #f1f1f1; /* Padding around handle */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}



.card {
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  /* width: 440px; 
  height: 458px; */
}

.card:hover,
.card.flip {
  transform: rotateY(180deg);
}

.card__front,
.card__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__back {
  transform: rotateY(180deg);
}

