@import "tailwindcss";


@theme{
  --color-background: #fbfcfe;
  --color-backgroundSecondary: #FAFAFF;
  --color-primary: #3C3D64;

  --color-hover: #222f50;
  --color-disabled: #a7adbf;
  --color-text: #161616;
  --color-subText: #535353;
  --color-secondarytext: #66AFFF;
  --color-heading: #252525;
  --color-subHeading: #7e7c7c;
  --color-placeholder: #a8a8a8;
  --color-icon: #dcdcdc;
  --color-borderPrimary: #C7CFE2;
  --color-borderSecondary: #cbd5e1;
  --color-borderthree: #C7CFE2;
  --color-borderheader: #D2E1FB;
}


.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #514b82;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

