version: "3"
services:
  backend-customer-portal:
    build:
      context: ./services/backend-customer-portal
    image: backend-customer-portal:latest
    environment:
      - ENVIRONMENT=${ENVIRONMENT}
      - SERVICE_NAME=${SERVICE_NAME}
      - CUSTOMER_PORTAL_FRONTEND_URL=${CUSTOMER_PORTAL_FRONTEND_URL}
      - CMP_ADMIN_BACKEND_URL=${CMP_ADMIN_BACKEND_URL}
      - POSTGRES_DATABASE_URL=${POSTGRES_DATABASE_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}
      - REDIS_USERNAME=${REDIS_USERNAME}
      - REDIS_MAX_CONNECTIONS=${REDIS_MAX_CONNECTIONS}
      - REDIS_MAX_CONNECTIONS_PER_NODE=${REDIS_MAX_CONNECTIONS_PER_NODE}
      - MONGO_URI=${MONGO_URI}
      - DB_NAME_CONCUR_MASTER=${DB_NAME_CONCUR_MASTER}
      - DB_NAME_CONCUR_LOGS=${DB_NAME_CONCUR_LOGS}
      - SECRET_KEY=${SECRET_KEY}
      - ACCESS_TOKEN_EXPIRE_MINUTES=${ACCESS_TOKEN_EXPIRE_MINUTES}
      - OTP_EXPIRY_SECONDS=${OTP_EXPIRY_SECONDS}
      - S3_URL=${S3_URL}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - S3_SECURE=${S3_SECURE}
      - CUSTOMER_PORTAL_BUCKET=${CUSTOMER_PORTAL_BUCKET}
      - KYC_DOCUMENTS_BUCKET=${KYC_DOCUMENTS_BUCKET}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - RABBITMQ_MANAGEMENT_PORT=${RABBITMQ_MANAGEMENT_PORT}
      - RABBITMQ_USER=${RABBITMQ_USER}
      - RABBITMQ_PASSWORD=${RABBITMQ_PASSWORD}
      - RABBITMQ_VHOST_NAME=${RABBITMQ_VHOST_NAME}
      - RABBITMQ_POOL_SIZE=${RABBITMQ_POOL_SIZE}

    volumes:
      - ./services/backend-customer-portal/logs:/usr/src/application/logs
    ports:
      - "3331:3331"

    networks:
      - concur-cfc-network
    depends_on:
      - rabbitmq
      - ferretdb
      - minio
      - keydb
